@use "@styles/base";
@import "@styles/mixins";

.container {
  font-size: 20px;

  img {
    width: 100%;
    height: 100%;
    max-height: 490px;
    object-fit: cover;
  }

  hr {
    border: 0;
    border-radius: 10px;
    border-color: black;
    background-color: black;
    height: 1px;
    margin: 10px 0px 15px 0px;
  }

  &__info {
    padding: 0px 20px;
  }
}

.title {
  margin: 16px 0px 0px 0px;
  line-height: 0.8;
}

.lostInfo {
  p {
    margin: 5px 0px;
  }
}

.pathInfo {
  p {
    margin: 5px 0px;
  }

  h2 {
    margin: 0px;
    line-height: 1;
    font-size: 24px;
  }
}

.description {
  h3 {
    margin: 5px 0px;
    font-size: 22px;
  }

  p {
    margin: 0px;
  }
}

.contact {
  h3 {
    margin: 5px 0px;
    font-size: 22px;
  }

  p {
    margin: 5px 0px;
  }
}

.clues {
  padding: 0px 0px 15px 0px;

  h3 {
    margin: 5px 0px;
    font-size: 22px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    textarea {
      font-family: inherit;
      font-size: 20px;
      background-color: base.$background;
      border: 0;
      border-radius: 5px;
      padding: 2px;
      resize: none;
      height: 100px;
      max-height: fit-content;

      &:focus {
        outline: 0px;
      }

      &::-webkit-scrollbar {
        display: block;
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: base.$primary-color; /* color of the tracking area */
      }

      &::-webkit-scrollbar-thumb {
        background: base.$complement-color; /* color of the scroll thumb */
        border-radius: 10px; /* roundness of the scroll thumb */
      }
    }

    button {
      font-family: inherit;
      width: fit-content;
      align-self: end;
      background-color: base.$default-button;
      font-size: 20px;
      font-weight: 600;
      background-color: base.$default-button;
      border: none;
      border-radius: 16px;
      padding: 15px 30px;
      cursor: pointer;
      color: white;
      transition: all 800ms ease-in-out alternate;

      &:hover {
        background-color: base.$hover-button;
      }

      &:active {
        background-color: base.$active-button;
        transform: scale(0.95);
      }
    }
  }
}

.footerIntersection {
  height: 40px;
  // This margin counters container padding
  margin: 0px -20px;
  background: linear-gradient(0deg, base.$secondary-color, base.$background);
}

@media (min-width: 780px) {
  .container {
    &__info {
      display: grid;
    }
  }
}

@include Desktop() {
  .container {
    &__info {
      display: grid;
    }
  }
}
