@use "@styles/base";
@import "@styles/mixins";

.Content {
  padding: 0px 30px;

  &__title {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
  }

  &__radioContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 400px;
    justify-items: center;
    margin: 20px auto;
  }

  &__radio {
    display: grid;
    grid-template-columns: auto 1fr;

    &__label {
      display: flex;
      align-items: baseline;
      font-size: 20px;
      font-weight: 500;
    }

    &__label:hover &__checkmark {
      background-color: base.$secondary-color;
      outline-offset: -4px;
      outline: 4px solid base.$background;
    }

    &__input {
      display: none;
    }

    &__input:checked + &__checkmark {
      background-color: base.$default-button;
      outline-offset: -4px;
      outline: 4px solid base.$background;
    }

    &__checkmark {
      display: flex;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background-color: base.$background;
      margin-right: 5px;
    }
  }
}

.Posts {
  display: grid;
  gap: 30px;
}

@include Tablet {
  .Posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .Posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include Desktop {
  .Posts {
    grid-template-columns: repeat(5, 1fr);
  }
}
