$font-stack: Helvetica, sans-serif;
$primary-color: #f6c3ae;
$secondary-color: #cdbcdc;
$middle-color: #e2bfc3;
$complement-color: #f0743e;
$complement-color-transp: #f0733ea9;
$default-button: #533a7b;
$hover-button: #866bb0;
$active-button: #1a0043;
$background: #ffe9e0;
$default-link: #5b1ac4;
