@use "@styles/base";
@import "@styles/mixins";

.Header {
  background: rgb(246, 195, 174);
  background: linear-gradient(
    90deg,
    base.$primary-color,
    base.$secondary-color
  );
  height: 120px;
  display: flex;
  padding: 5px 30px;

  &__content {
    display: grid;
    grid-template-columns: minmax(45px, 70px) 1fr minmax(45px, 70px);
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    button {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }

  &__menu {
    color: base.$complement-color;
    height: auto;
    width: 100%;
    justify-self: start;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    border-radius: 50%;
    padding: 12px;

    &:hover {
      background-color: base.$middle-color;
    }
  }

  &__title {
    display: flex;
    gap: 15px;
    justify-self: center;
    align-items: center;
    height: fit-content;
    cursor: pointer;

    &__logo {
      max-width: 75px;
      min-width: 60px;
      display: none;
      margin-bottom: 5px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      padding-top: 6px;
      line-height: 30px;
      font-size: 36px;
      font-weight: bold;
      height: fit-content;
    }
  }

  &__links {
    display: none;
  }
}

@include Tablet() {
  .Header {
    &__title {
      &__logo {
        display: block;
      }
    }

    &__menu {
      justify-self: flex-start;
    }
  }
}

@include Desktop() {
  .Header {
    &__content {
      grid-template-columns: 1fr 1fr 1fr;

      button {
        display: none;
      }
    }

    &__menu {
      display: none;
    }

    &__title {
      justify-self: start;
    }

    &__links {
      grid-column: 3;
      display: flex;
      justify-self: end;
      gap: 60px;
      font-size: 30px;
      font-weight: 500;
      white-space: nowrap; /* Prevent text from wrapping */
    }
  }
}
